html, body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  color: #444;
}
#header {
  width: 100%;
  height: 400px;
  font-weight: 300;
  color: white;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 50px;
}
.bg1 {
  background-image: url('../img/cavity.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 100%;
}
.bg2 {
  background-color: #299DB6;
}
#headerblob {
  position: absolute;
  left: 13%;
  top: 140px;
  width: 60%;
}

#headertext1 {
  position: absolute;
  left: 5%;
  top: 10px;
  width: 50%;
}
#headertext2 {
  position: absolute;
  left: 25%;
  top: 70px;
  width: 50%;
}
.imgme {
  border: 3px solid white;
  float: left;
}
#htname {
  font-size: 46px;
  font-weight: 400;
}
#htdesc {
  font-size: 16px;
  font-weight: 300;
  margin-top: -6px;
}
#htem {
  font-size: 16px;
  font-weight: 300;
}
@media (max-width: 768px) {
  #headerblob {
    text-align: center;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;

  }
  .imgme {
    float: none;
  }
  #headertext {
    margin: 20px 0;
  }
  #htname {
    font-size: 28px;
  }
  #htdesc {
    font-size: 16px;
  }
}

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px;
}
.timeline > li {
  margin-bottom: 20px;
  position: relative;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  width: 46%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}
.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}
.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  background-color: #8E44AD;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline-badge.primary {
  background-color: #2e6da4 !important;
}
.timeline-badge.success {
  background-color: #3f903f !important;
}
.timeline-badge.warning {
  background-color: #f0ad4e !important;
}
.timeline-badge.danger {
  background-color: #d9534f !important;
}
.timeline-badge.info {
  background-color: #5bc0de !important;
}
.timeline-title {
  margin-top: 0;
  color: inherit;
}
.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}
.timeline-body > p + p {
  margin-top: 5px;
}

h2 {
  text-align: center;
  font-weight: 300;
  font-size: 50px;
  padding: 30px 0px 0px;
}
#sitefooter {
  height: 300px;
  margin-top: 200px;
  background-color: #F1F3F4;
}
hr.soft {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
  padding: 0;
  margin: 0;
}
.pubt {
  font-size: 22px;
  font-weight:400;
  color: #000;
}
@media (max-width: 768px) {
  .pubt {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .pubd {
    text-align: justify;
  }
}
.pubd {  
  text-align:justify;
  font-size: 18px;
  font-weight: 300;
}
.pubimg {
  text-align: center;
}
.pubimg img {
  max-width: 100%;
}
.puba {
  font-size: 18px;
  color: #6C3483;
  /*font-weight:350;*/
}
.pubv {
  /*color: #090;*/
  font-style: italic;
  font-size: 18px;
}
.publ {
  padding-top: 10px;
}
.publ li {
  border: 1px solid #CCC;
  padding: 5px;
  margin: 5px 2px;
  display: inline-block;
}
.pubwrap {
  padding-bottom: 20px;
  margin-bottom: 50px;
  border-bottom: 1px solid #DDD;
}
.pub {
}
.pp {
  text-align: center;
  margin-bottom: 60px;
}
.pp img {
  border: 3px solid #FFF;
  box-shadow: #BBB 0px 0px 5px 0px;
}
.imgb {
  max-width:300px;
  max-height:300px;
  width:auto;
  height:auto;
  border-radius: 5px;
}
.imgsm {
  width: 200px;
  height: 200px;
  border-radius: 5px;
}
.ppt {
  font-size: 30px;
  font-weight: 300;
  color: #000;
  margin-top: 20px;
}
.ppd {
  font-size: 18px;
  text-align: justify;
  color: #444;
  font-weight: 300;
}
.pp blockquote {
  text-align: right;
}
#moreprojects {
  display: none;
}
#morepubs {
  display: none;
}
.showmore {
  border: 1px solid #CCC;
  padding: 10px;
  font-size: 24px;
  width: 200px;
  text-align: center;
  color: #999;
  margin: 0px auto;
  cursor: pointer;
  margin-bottom: 50px;
}
.showmore:hover {
  color: #333;
}

.miscitem {
  margin: 10px 0px 60px;
}
.miscimg img {
  height: 50px;
  float: left;
  margin-right: 10px;
  margin-top: -10px;
}
.colorrect {
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 10px;
  margin-top: -10px;
  background-color: #444;
}
.miscd {
  font-size: 18px;
  font-weight: 300;
}

.umisc {
  font-size: 16px;
  font-weight: 300;
  color: #555;
}
.ctr {
  text-align: center;
  margin-bottom: 40px;
}
.hht {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 300;
}
.ts {
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: 300;
}